.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.logoText {
  font-family: "Playfair_Display", serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 0;
  letter-spacing: -1px;
  margin-top: 25px;
  transition: all 0.4s ease;
  -webkit-text-stroke: 0px transparent;
  white-space: nowrap;
}

.logoText:hover {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.subtitle {
  position: absolute;
  margin-top: 80px;
  margin-left: -80px;
  font-family: sans-serif;
  color: #d1d5db;
  font-size: 13.5px;
  transition: all 0.4s ease;
}

.subtitle.hidden {
  opacity: 0;
}

@media (max-width: 600px) {
  .logoText {
    font-size: 2.5rem;
  }

  .subtitle {
    margin-top: 67px;
    margin-left: -20px;
    font-size: 12px;
  }
}
