.layoutShell {
  position: relative;
}

.sidebarWrapper {
  display: none;
}

@media (min-width: 1300px) {
  .sidebarWrapper {
    --sidebar-width: 240px;
    --sidebar-gap: 24px;
    position: fixed;
    top: 110px;
    left: calc(
      50% - var(--content-max-width) / 2 - var(--sidebar-width) -
        var(--sidebar-gap)
    );
    width: var(--sidebar-width);
    z-index: 40;
  }
}

@media (min-width: 1650px) {
  .sidebarWrapper {
    --sidebar-width: 240px;
    --sidebar-gap: 32px;
    display: block;
  }
}
